# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=qrcode.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=qrgen
HOME_ICON=qrgen.svg
HOME_DESCRIPTION=QR code generation
SECRET_KEY=
