# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=qrcode.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
HOME_GROUP=Bureautique
HOME_NAME=qrgen
HOME_ICON=https://github.com/ydethe/qrgen/blob/d4e41815d0dbf55402f396af9932bfe624aebf52/logo.png
HOME_DESCRIPTION=QR code generation
SECRET_KEY=
