# Copy this file as .env, then fill and adapt the actual values
JOHNCLOUD_ROOT=/path/to/root/of/paas/data
HOST=contacts.domain.tld
TZ=Etc/UTC
TRAEFIK_NETWORK=traefik-proxy
LOGFIRE_TOKEN=
DATABASE_URI=
